@media (min-width: 780px){
/* Home name */
  .main-section{
    position: absolute;
    height: 50px;
    padding-top: 10px;
    top: 130px;
  }

  .left-nav-bar,
  .main-section legend{
    display: initial;
  }

  .main-section legend{
    color: var(--color-text-secundary);
    margin-left: 40px;
  }
  .main-section legend, 
  .left-nav-bar p{
    font-size: 12px;    
  }

  .main-section legend{
    margin-left: 40px;
  }

  .show-room{
    align-content: center;
    padding-top:11px;
    margin: 0 40px;
    display: grid;
    grid-template-columns: 0.3fr 1.6fr 1.8fr ;
    align-self: center;
  }

  /* Left nav bar */

  .left-nav-bar p{
    color: var(--color-primary);
    margin-left: 26px;
    margin-bottom: 8px;
  }

  .left-nav-bar #video{
    width: 82px;
    height: 45px;
    margin-bottom: 10px;
  }

  .scroling-content img{
    width: 82px;
    height: 93px;
    margin-bottom: 6px;
  }

  .scroling-content img:last-child{
    margin-bottom: 20px;
  }
  .scroling-content img:first-child{
    margin-top: 20px;
  }

  #arrowUp,
  #arrowDown{
    display: initial;
    margin-left: 32px;
  }
  /* PHOTO */

  .product-photo{
    display: flex;
    width: inherit;
    justify-self: center;
  }

  .product-photo h1,
  .product-photo span{
    display: none;
  }

  .product-photo img{
    position: initial;
    padding-left: 35px;
    height: 556px;
    width: 430px;
    margin: 0px;
    align-self: center;
  }

  /* DETAILS RIGHT CARD ! !  !*/

  .product-details{
    display: initial;
    position: inherit;
    border: 2px solid var(--color-main-details);
    border-radius: 3px;
    max-width: 404px;
    max-height: 483px;
    padding: 20px;
    justify-self: center;
    margin: 0px;

  }

  /* RESET FROM MOBILE */
.details-color,
.details-header,
.details-footer,
#sizes-propertys,
#sizes-box,
#price p{
 padding: 0;
}

.details-header,
.details-header h1,
.details-header span{
  display: inherit;
}

.details-header button,
.details-footer h3{
  display: none;
}
/* END */
  .details-header h1{
    display: initial;
    font-weight: bold;
    font-size: 26px;
    line-height: 100%;
    text-transform: uppercase;
  }

  .details-header strong{
    font-size: 14px;
  }

  .details-header p:last-child{
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 34px;
  }
  
  .details-header p{
    color:#E35442;
  }

  #price{
    display: flex;
  }
  #price p:last-child{
    position: absolute;
    padding-top: 40px;
  }

  .details-header #price{
    padding-top: 10px;
    padding-bottom: 34px;
  }
  
  /* COLOR SELECT */

  .details-color span{
    padding-left: 8px;
  }
  .details-color span,
  .details-size span{
    color: var(--color-select-title);
  }

  .details-color #colors-pick img{
    border: 1px solid var(--color-full-white);

    padding-right: 8px;
  }

  .details-size #sizes-propertys p:last-child{
    color: var(--color-primary);
    text-decoration-line: underline;
    justify-self: end;
    padding-right: 28px;
  }

  
  #sizes-propertys{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 17px;
  }


  #sizes-box span{
    border: 1px solid #EBEBEB;
    width: 28px;
    height: 28px;
    padding: 3px;
    margin-top: 17px;
    margin-right: 3px;
  }

  /* Green Button */
  .details-footer button{

    grid-area: button;
    color: var(--color-full-white);
    background-color: var(--color-button);
    border-radius: 3px;
    border: none;

    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 26px;
  
    width: 404px;
    height: 60px;
   
    justify-self: center;
    cursor: pointer;
  }

  .details-footer p{
    padding: 25px 0;
  }
}
