@media (min-width: 1900px){
  .main-section legend{
    font-size: 32px;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .details-header strong{
    font-size: 60px;
  }

  .left-nav-bar #video{
    width: 190px;
    height: 130px;
    margin-bottom: 35px;
  }

  .left-nav-bar p{
    color: var(--color-primary);
    font-size: 32px;
    margin-left: 44px;
    margin-bottom: 16px;
  }

  .scroling-content img:last-child{
    margin-bottom: 20px;
  }
  .scroling-content img:first-child{
    margin-top: 25px;
  }
  
  .scroling-content img{
    width: 190px;
    height: 210px;
    margin-bottom: 20px;
  }
  
  #arrowUp,
  #arrowDown{
    display: flex;
    align-items: center;
    margin-left: 80px;
    width: 30px;
  }

  /* Main Photo */
  .product-photo img{
    display: block;
    height: 1200px;
    width: 920px;
  }

  /*  Details  right card */

  .product-details{
    border: 3px solid var(--color-main-details);
    display: block;
    border-radius: 4px;
    width: 900px;
    height: 1080px;
    padding: 40px;
  }

  .details-header h1{
    font-size: 66px;
  }
  
  .details-header span,
  .details-header p{
    font-size: 44px;
    line-height: 93px;
  }

  #price{
    padding-top: 90px;
  }
  
  .details-header p:last-child{
    line-height: 38px;
    padding-bottom: 74px;
  }

  .details-color p,
  .details-color span,
  .details-size p,
  .details-header p:last-child,
  #size-propertys a{
    line-height: 60px;
    font-size: 38px;
  }

  
  #colors-pick img{
    width: 80px;
    padding-top: 30px;
    padding-right: 16px;
    border: 3px solid var(--color-full-white);
  }

  #sizes-box span{
    border: 3px solid #EBEBEB;
    border-radius: 2px;
    padding: 14px 16px 8px 18px;
    margin-left: 16px;
    margin-top: 17px;
    font-size: 24px;
  }

  .details-footer button{  
    margin-top: px;
    width: 900px;
    height: 90px;
  }

  .details-footer p{
    padding-top: 46px;
    font-size: 30px;
    line-height: 100%;
  }
  
}