.main-section{
  position: absolute;
  height: 50px;
  padding-top: 10px;
  top: 60px;
}

.left-nav-bar,
.main-section legend{
  display: none;
}

.show-room{
  display: grid;
  grid-template-columns: 1fr;
}

/* Photo */

.product-photo{
  display: initial;
  justify-self: center;
  margin: 0px 35px;
}

.product-photo h1{
  color: var(--color-primary);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163.42%;

  display: flex;
  justify-content: center;
  text-transform: uppercase;   
}

.product-photo span{
 color: var(--color-gray-dark);

font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;

display: flex;
justify-content: center;
margin-bottom: 9px;

}

.product-photo img{
  max-width: 100%;
  min-height: 329px;
  margin-bottom: 6px;
}

/* PRODUCT DESCRIPTION SET AREA */

.product-details{
  display: grid;
  grid-template-areas:
  "color-details"
  "size"
  "description";
  margin: 0px 35px;
  margin-top: 20px;
}

.details-color{
  grid-area: color-details;
}


/* Fonts */

.details-header span,
.details-color span,
#sizes-box span,
.details-header p,
.details-color p,
.details-size p,
.details-footer h3,
#sizes-propertys p:last-child{
  font-size: 14px;
  line-height: 26px;
}

.details-header h1,
.details-header p,
.details-header p:last-child,
.details-color p,
.details-color span,
.details-header span{
  display: flex;
  align-items: center;
}

/* Colors AREA */

.details-color p{
  font-size: 14px;
  line-height: 163.42%;
  padding-bottom: 6px;
}
.details-color span{
  display: none;
}

.details-color span,
.details-size span{
  color: var(--color-select-title);
}

/* Sizes AREA */

.details-size span:first-child{
    display: none;
}

#sizes-propertys{
  grid-area: size;
}

#sizes-propertys{
  padding-top: 15px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  margin-bottom: 6px;
}

.details-size #sizes-propertys p:last-child{
  color: var(--color-primary);
  text-decoration-line: underline;
  justify-self: end;
  padding-right: 28px;
}

#sizes-box span{
  border: 1px solid #EBEBEB;
  border-radius: 2px; 
  font-family: 'Open Sans';
  min-width: 28px;
  height: 28px;
  padding: 3px;
  margin: auto 1px;
  margin-top: 17px;
}

/* Description */

.details-header{
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: center;
  align-items: center;
  padding-top: 34px
}

.details-header h1,
.details-header span{
  display: none;
}

/* PRICE AREA */


#price{
  align-items: center;
  align-content: center;
}

.details-header p:first-child{
  color:#E35442;
  text-decoration-line: line-through;

}

.details-header strong{
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: var(--color-gray-details);
  text-decoration-line: none;
}

.details-header p:last-child{

  font-size: 12px;
  line-height: 18px;
  color: var(--color-gray-dark);

}

.details-header button{
  color: var(--color-full-white);
  background-color: var(--color-button);
  border-radius: 3px;
  border: none;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 100%;

  width: 120px;
  height: 60px;

  display: flex;

  align-items: center;
  cursor: pointer;
}

.details-footer h3{
  color: var(--color-primary)
}
.details-footer p{
  font-size: 13px;
}
.details-footer button{
  display: none;
}

