
.show-room{
  display: grid;
  grid-template-columns: 1fr;
}

/* Photo */

.product-photo{
  display: initial;
  justify-self: center;
  margin: 0px 35px;
}

.product-photo h1{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163.42%;

  display: flex;
  justify-content: center;
  text-transform: uppercase;
  
  padding-top: 15px;
}

.product-photo span{
 color: var(--color-gray-dark);

font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;

display: flex;
justify-content: center;
margin-bottom: 9px;

}

.product-photo img{
  max-width: 100%;
  min-height: 329px;
  margin-bottom: 6px;
}

/* PRODUCT DESCRIPTION SET AREA */

.product-details{
  display: grid;
  grid-template-areas:
  "color-details"
  "size"
  "description";
  margin: 0px 35px;
  margin-top: 20px;
}

.details-color{
  grid-area: color-details;
}


/* Fonts */

.details-header span,
.details-color span,
#sizes-box span,
.details-header p,
.details-color p,
.details-size p,
.details-footer h3,
#sizes-propertys p:last-child{
  font-size: 14px;
  line-height: 26px;
}

.details-header h1,
.details-header p,
.details-header p:last-child,
.details-color p,
.details-color span,
.details-header span{
  display: flex;
  align-items: center;
}

/* Colors AREA */

.details-color p{
  font-size: 14px;
  line-height: 163.42%;
  padding-bottom: 6px;
}

.details-color span {
  padding-left: 8px;
}
.details-color span,
.details-size span{
  color: var(--color-select-title);
}

#colors-pick img{
  margin-right: 10px;
  cursor: pointer;
}

 img#Enable{
    border: 2px solid var(--color-primary);
    border-radius: 50%;
  }

/* Sizes AREA */

.details-size span:first-child{
    display: none;
}

#sizes-propertys{
  grid-area: size;
}
#sizes-propertys span{
  display: initial;
}

#sizes-propertys{
  padding-top: 15px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  margin-bottom: 6px;
}

.details-size #sizes-propertys p:last-child{
  text-decoration-line: underline;
  justify-self: end;
  padding-right: 20px;
}

#sizes-box span{
  border: 1px solid #EBEBEB;
  border-radius: 2px; 
  font-family: 'Open Sans';
  min-width: 28px;
  height: 28px;
  padding: 3px;
  margin: auto 1px;
  margin-top: 17px;
}

#sizes-box span.Enable{
  background-color: var(--color-primary);
  color: var(--color-full-white)
}

/* Description */

.details-header{
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: center;
  align-items: center;
  padding-top: 34px
}

/* PRICE AREA */

#price{
  align-items: center;
  align-content: center;
}

.details-header p:first-child{
  color:#E35442;
  text-decoration-line: line-through;
}

.details-header strong{
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: var(--color-gray-details);
  text-decoration-line: none;
}

.details-header p:last-child{

  font-size: 12px;
  line-height: 18px;
  color: var(--color-gray-dark);

}

.details-header button{
  color: var(--color-full-white);
  background-color: var(--color-button);
  border-radius: 3px;
  border: none;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 100%;

  width: 120px;
  height: 60px;

  display: flex;

  align-items: center;
  cursor: pointer;
}



.details-footer h3,
.product-photo h1,
.details-size #sizes-propertys p:last-child{
  color: var(--color-primary)
}

.details-footer h3{
  padding-top: 20px;
}

.details-footer p{
  font-size: 13px;
}

.modal-add-card-disable{
  display: none;
}

.modal-add-card{
  position: fixed;
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  top: 0%;
  background: rgba(32, 32, 32, 0.6);

}

#modal-add-content{
  min-width: 90%;
  max-height: 430px;
  background-color: white;
  margin: 0 auto;
  margin-top:35px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

#close-icon{
  display: flex;
  align-self: flex-end;
  margin: 12px;
  cursor: pointer;
}

#product-photo{
  margin: 0 51px;
  margin-top: 20px;
  margin-bottom: 11px;
  max-width: 190px;
  height: 243px;
}

.modal-add-card-disable{
  display: none;
}


#modal-add-content h1{
  color: var(--color-primary);
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-items: center;
  margin:0 40px;
  margin-top: 11px;
  padding: 0 20px;
}

#modal-add-content button{
  color: var(--color-full-white);
  background-color: var(--color-button);
  border-radius: 3px;
  border: none;

  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 26px;

  width: 190px;
  height: 50px;
  margin: 0 50px;

  justify-self: center;
  cursor: pointer;
}

#modal-add-content span{
color: var(--color-footer-line);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;

  display: flex;
  align-self: center;

  margin: 0 50px;
  margin-top: 7px;
  margin-bottom: 7px;
  
  cursor: pointer;
}

.products-container{
    width: 486px;
    max-height: 400px;
    align-self: center;
    overflow-y: scroll;
  }
  
  .products-container::-webkit-scrollbar-track {
    background-color: #E2E2E2;
  }
  .products-container::-webkit-scrollbar {
      border-radius: 4px;
      width: 5px;
      background: var(--color-primary);
  }
  .products-container::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background:var(--color-primary);
  }

  
  .cart-product{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 0.5fr 0.2fr;
    align-items: center;
    margin: 25px auto;
  }

  #cart-close-icon{
    cursor: pointer;
  }
  
  #product-title h2{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }

  #product-title strong{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  
  #product-image img{
    width: 46px;
    height: 59px;
    cursor: pointer;
  }

  #product-quantity{
    display: flex;
    align-items: center;
  }

  #product-quantity p{
    color: var(--color-select-title);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px ;
  }

  #product-quantity img{
    width: 8px;
    cursor: pointer;
  }

  #product-alert-promo{
    background-color: var(--color-text-secundary);
    height: 50px;
    color: var(--color-full-white);
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
  }

  #product-container-footer{
    background-color: var(--color-gray-light);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  #product-container-footer p{
    color: #202020;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
  }

  #product-container-footer span{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
  

  /* MODAL CART */

  .modal-cart-content-disable{
    display: none;
  }

  #modal-cart{
    width: 100%;
    min-width: 320px;
    max-height: 490px;
    background-color: white;
    display: flex;
    flex-direction: column;

    padding-top: 10px;
  }

  .modal-cart-content{
    position: fixed;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    left: 0px;
    right: 0px;
    top: 0%;
    background: rgba(32, 32, 32, 0.6);
  } 



  #cart-header {
    display: flex;
    flex-direction: inherit;
    margin: 0 30px;
    border-bottom: 1px solid var(--color-gray-light);
    align-content: center;
    margin-bottom: 0px;
  }


  #cart-header h1{
    color: var(--color-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: 10px;
  }

  #cart-header span{
    color: var(--color-text-secundary);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  #cart-header img{
    display: flex;
    align-self: flex-end;
    position: absolute;
    padding-top: 5px;
  }

  /* Products List */

  .products-container{
    width: 90%;
    height: 300px;
    overflow-y: scroll;

  }
  
  .products-container::-webkit-scrollbar-track {
    background-color: #E2E2E2;
  }
  .products-container::-webkit-scrollbar {
      border-radius: 4px;
      width: 5px;
      background: var(--color-primary);
  }
  .products-container::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background:var(--color-primary);
  }

  
  .cart-product{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 0.5fr 0.2fr;
    align-items: center;
    margin: 25px auto;
  }

  #cart-close-icon{
    cursor: pointer;
  }
  
  #product-title h2{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }

  #product-title strong{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  
  #product-image img{
    width: 46px;
    height: 59px;
    cursor: pointer;
  }

  #product-quantity{
    display: flex;
    align-items: center;
  }

  #product-quantity p{
    color: var(--color-select-title);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px ;
  }

  #product-quantity img{
    width: 8px;
    cursor: pointer;
  }

  #product-alert-promo{
    background-color: var(--color-text-secundary);
    height: 50px;
    color: var(--color-full-white);
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  #product-container-footer{
    background-color: var(--color-gray-light);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
  }

  #product-container-footer p{
    color: #202020;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  #product-container-footer span{
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
  }

  .modal-cart-content button{
    color: var(--color-full-white);
    background-color: var(--color-button);
    border-radius: 3px;
    border: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
  
    width: 144px;
    height: 42px;

    justify-self: center;
    cursor: pointer;
  }
  

.left-nav-bar,
.main-section legend,
.details-header h1,
.details-header span,
.details-footer button,
.details-size span:first-child,
#video-play{
  display: none;
}
