@media (min-width: 780px){
    .Header{
      margin: 0 auto;
    }

    #logo{
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #logo img{
      padding-left: 134px;
      margin: 0 auto;
      width: 148px;
      height: 34px;
    }

     
    .top-bar{
      border: 1px solid var(--color-header-border);
      color: var(--color-gray-details);
      height: 50px;
      display: grid;
      grid-template-columns: 0.8fr 1fr 0.35fr auto;
      align-content: center;
      max-width: 1280px;
      margin: 0 auto;

    }
    
    .left-item-top-bar,
    .mid-item-top-bar,
    .mid-content,
    .search-top-bar,
    .shopping-bag-top-bar,
    .shopping-bag-top-bar span{
      position: initial;
      display: flex;
      align-items: center;
      right:0;
      left:0;
      top:0;
      bottom:0
    }
    
    .left-item-top-bar img{
      display: none;
    }
    
    .left-item-top-bar,.left-item-top-bar p{
      display: flex;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px; 
      margin-right: 76px;
    }

    .left-item-top-bar p{
      padding-left: 40px;
      cursor: pointer;
    }

    #mid-content{
      display: flex;
      justify-self: center;
    }
    
    #mid-content p{
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 22px;
      padding-right: 22px;
      justify-self: center;
      cursor: pointer;
    }
    
    .search-top-bar{
      border-bottom: 2px solid rgba(104, 104, 104, 0.4);
      width: 78px;
      padding: 7px;
      justify-self: end;
      display: flex;
      align-content: center;
      box-sizing: border-box;
    }
    
    .search-top-bar img{
      padding-right: 7px;
    }
    
    .search-top-bar input{
      display: initial;
      color: var(--color-gray-details);
      border: none;
      width: 41px;
    }
    
    .shopping-bag-top-bar{
      padding-left: 20px;
      padding-right: 40px;
      align-items: center;
    }

    .shopping-bag-top-bar span{
      padding-top: 8px;
    }
}


