.Header{
  position: absolute;
  height: 50px;
  left: 0px;
  right: 0px;
  top: 0px;
}

#logo{
  height: 25px;
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.left-item-top-bar img{
  position: absolute;
  left: 17px;
  right: 62px;
  top: 21px;
  bottom: 17px;
  cursor: pointer;
}

.left-item-top-bar p,
.mid-item-top-bar,
.search-top-bar input{
  display: none;
}

.search-top-bar{
  position: absolute;
  right: 59px;
  top: 19px;
  bottom: 18px;
  cursor: pointer;
}

.shopping-bag-top-bar{
  position: absolute;
  right: 16px;
  top: 16px;
  bottom: 18px;
  cursor: pointer;
}

.shopping-bag-top-bar span{
  position: absolute;
  right: 11px;
  top: 11px;
}