:root {
  --color-background: rgba(255, 255, 255, 0.9);
  
  --color-primary:  #DE8F75;
  --color-gray-details: #686868;
 
  --color-text: #202020;
  --color-text-secundary: #AEB6C1;

  --color-button-text: #FFFFFF;
  --color-header-border: #CCCCCC;

  --color-button: #32917B;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body #root{
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input{
  font-family: 'Montserrat', sans-serif;
}

button{
  color: var(--color-button-text);
}


.containter{
  width: 162vw;
  max-width: 1280px
}

@media (min-width:780){
  :root{
    font-size: 60%;
  }
}